html {
  position: relative;
  min-height: 100vh; 
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  max-width: 1440px; 
  margin: 0 auto; 
  background: rgba(229, 229, 229, 0.53);
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
  width: 1443px;
  height: 194px;
  left: -3px;
  top: -20px;
  background: linear-gradient(to right, rgb(15, 195, 195), rgb(3, 21, 125));
}

.navigation_bar {
  position: relative;
  width: 1331px;
  height: 60px;
  left: 76px;
  top: 32px;
}

.logo {
  position: relative;
  width: 88.99px;
  height: 50px;
  left: 3%;
  top: 0%;
}

.vertical {
  position: relative;
  width: 50px;
  height: 0;
  left: 170.5px;
  top: -25px;
  transform: rotate(90deg);
  border: 1px solid rgb(255, 255, 255);
}

.text1 p {
  position: relative;
  width: 244px;
  height: 20px;
  left: 250px;
  top: -60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 4px;
  text-align: left;
}

.kabinet {
  position: relative;
  height: 55px;
  width: 286px;
  left: 1050px;
  top: -120px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.text2 {
  position: relative;
  width: 128px;
  height: 20px;
  left: auto;
  right: 27%; 
  top: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.text3 {
  position: relative;
  width: 103px;
  height: 50px;
  left: auto;
  right: 205px; 
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 800;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.exit {
  position: relative;
  width: 84px;
  height: 5px;
  left: 1172px;
  top: -165px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  flex-wrap: nowrap;
}

.ex {
  position: relative;
  width: 6,19px; 
  bottom: -2px; 
  left: 13px;
}

.nav2 {
  display: contents;
  position: relative;
  width: 845px;
  height: 69px;
  left: 466px;
  top: 123px;
}

.rectangle24 {
  position: relative;
  width: 148px;
  height: 50px;
  left: 478px;
  top: 70px;
  border-radius: 10px 10px 0px 0px;
  background: rgb(134, 214, 212);
}

.rectangle24 p {
  position: relative;
  width: 111px;
  height: 30px;
  left: 20px;
  top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(36, 83, 134);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 10%;
  text-align: center;
}

.rectangle21 {
  position: relative;
  width: 148px;
  height: 73px;
  left: 646px;
  top: -18px;
  border-radius: 10px 10px 0px 0px;
  background: rgb(249, 215, 94);
}

.rectangle21 p {
  position: relative;
  width: 76px;
  height: 20px;
  left: 35px;
  top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(36, 83, 134);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 10%;
  text-align: center;
  text-transform: uppercase;
}

.rectangle25 {
  position: relative;
  width: 148px;
  height: 50px;
  left: 813px;
  top: -83px;
  border-radius: 10px 10px 0px 0px;
  background: rgb(134, 214, 212);
}

.rectangle25 p {
  position: relative;
  width: 130px;
  height: 48px;
  left: 12px;
  top: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  color: rgb(36, 83, 134);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 65px;
  letter-spacing: 10%;
  text-align: center;
}

.rectangle26 {
  position: relative;
  width: 147px;
  height: 50px;
  left: 981px;
  top: -146px;
  border-radius: 10px 10px 0px 0px;
  background: rgb(134, 214, 212);
}

.rectangle26 p {
  position: relative;
  width: 93px;
  height: 25px;
  left: 27px;
  top: 11px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(36, 83, 134);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 10%;
  text-align: center;
}

.rectangle27 {
  position: relative;
  width: 148px;
  height: 50px;
  left: 1148px;
  top: -210px;
  border-radius: 10px 10px 0px 0px;
  background: rgb(134, 214, 212);
}

.rectangle27 p {
  position: relative;
  width: 96px;
  height: 25px;
  left: 25px;
  top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(36, 83, 134);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 10%;
  text-align: center;
}

.rectangle20 {
  position: relative;
  width: 1220px;
  height: 1588px;
  left: 110px;
  top: -44px;
  background: rgb(255, 255, 255);
}

.rectangle20 h1 {
  position: relative;
  width: 492px;
  height: 40px;
  left: 370px;
  top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(36, 83, 134);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 8px;
  text-align: center;
  text-transform: uppercase;
}

.rectangle20 h4 {
  position: relative;
  width: 492px;
  height: 40px;
  left: 370px;
  top: 135px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(36, 83, 134);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 8px;
  text-align: center;
  text-transform: uppercase;
}

.group23 {
  display: flex;
  position: relative;
  width: 930px;
  height: 64px;
  left: 134px;
  top: 100px;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

.group23 p {
  color: rgb(102, 102, 102);
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.order1 {
  position: relative;
  width: 1010px;
  height: 95.5px;
  left: 100px;
  top: 120px;
}

.order1 h1 {
  color: rgb(102, 102, 102);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  position: relative;
  width: 185px;
  height: 30px;
  left: 10px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 0px;
  justify-content: center;
}

.order1 p {
  color: rgb(102, 102, 102);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
}

.order1 h2 {
  color: rgb(102, 102, 102);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  text-align: center;
}

.arrow1 {
  position: relative;
  width: 60px;
  height: 15px;
  left: 385px;
  top: -144px;
}

.arrow2 {
  position: relative;
  width: 60px;
  height: 15px;
  left: 385px;
  top: -144px;
  border: 0px solid rgb(62, 182, 88);
}

.arrow13 {
  position: relative;
  width: 60px;
  height: 15px;
  left: 385px;
  top: -135px;
}

.arrow12 {
  position: relative;
  width: 60px;
  height: 15px;
  left: 380px;
  top: -150px;
}

.vector6 {
  position: relative;
  width: 35px;
  height: 45px;
  left: 695px;
  top: -260px;
  border: 0px solid rgb(62, 182, 88);
}

.vector62 {
  position: relative;
  width: 35px;
  height: 45px;
  left: 710px;
  top: -260px;
  border: 0px solid rgb(62, 182, 88);
}

.vector2 {
  position: relative;
  width: 17px;
  height: 34px;
  left: 989px;
  top: -370px;
  border: 0px solid rgb(196, 196, 196);
}

.order4 .vector2 {
  position: relative;
  width: 17px;
  height: 34px;
  left: 900px;
  top: -370px;
  border: 0px solid rgb(196, 196, 196);
}

.vector22 {
  position: relative;
  width: 17px;
  height: 34px;
  left: 989px;
  top: -325px;
  border: 0px solid rgb(196, 196, 196);
}

.vector21 {
  position: relative;
  width: 17px;
  height: 34px;
  left: 989px;
  top: -370px;
  border: 0px solid rgb(196, 196, 196);
}

.line4 {
  position: relative;
  width: 985px;
  left: 42px;
  top: 120px;
  border: 0px dashed rgb(196, 196, 196);
}

.rectangle30 {
  position: relative;
  width: 1160px;
  height: 700px;
  left: 34px;
  top: 130px;
  background: rgba(207, 239, 238, 0.5);
}

.order2 {
  position: relative;
  width: 1010px;
  height: 93.5px;
  left: 65px;
  top: 30px;
}

.order2 h1 {
  color: rgb(36, 83, 134);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0px;
  text-align: center;
  position: relative;
  width: 185px;
  height: 30px;
  left: 10px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order2 h2 {
  color: rgb(36, 83, 134);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
}

.order2 h3 {
  color: rgb(36, 83, 134);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0px;
  text-align: center;
  position: relative;
  width: 187px;
  height: -30px;
  left: 60px;
  top: -229px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.order2 p {
  color: rgb(36, 83, 134);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}

.line3 {
  position: relative;
  width: 33px;
  height: 0;
  left: 695px;
  top: -240px;
  border-radius: 30px;
  border: 4px solid rgb(192, 39, 45);
}

.vector3 {
  position: relative;
  width: 37px;
  height: 34px;
  left: 980px;
  top: -330px;
  transform: rotate(0deg);
  border: 0px solid rgb(36, 83, 134);
}

.group24 {
  display: flex;
  position: relative;
  width: 963px;
  height: 64px;
  left: 7px;
  top: -270px;
  margin-top: -10px;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

.group24 p {
  color: rgb(36, 83, 134);
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
}

.rectangle38 {
  position: relative;
  width: 725px;
  height: 270px;
  left: 145px;
  top: -523px;
  border-radius: 25px;
  background: rgb(255, 255, 255);
}

.rectangle38 h1 {
  position: relative;
  width: 251px;
  height: 30px;
  left: -47px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: left;
  color: rgb(36, 83, 134);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.rectangle38 p {
  position: relative;
  width: 630px;
  height: 215px;
  left: 0px;
  top: -30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(36, 83, 134);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.notes {
  position: relative;
  width: 655px;
  height: 240px;
  top: 20px;
  left: 50px;
}

.line5 {
  position: relative;
  width: 985px;
  left: 42px;
  top: 25px;
  border: 0px dashed rgb(196, 196, 196);
}

.order3 {
  position: relative;
  width: 1060px;
  height: 93px;
  left: 95px;
  top: 153px;
}

.order3 h1 {
  position: relative;
  width: 185px;
  height: 30px;
  left: 10px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 0px;
  justify-content: center;
  color: rgb(102, 102, 102);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}

.order3 h2 {
  color: rgb(102, 102, 102);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: center;
}

.order3 p {
  position: relative;
  width: 185px;
  height: 30px;
  left: 10px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(102, 102, 102);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
}

.line6 {
  position: relative;
  width: 985px;
  left: 42px;
  top: 25px;
  border: 0px dashed rgb(196, 196, 196);
}

.order4 {
  position: relative;
  width: 1010px;
  height: 93px;
  left: 95px;
  top: 150px;
}

.order4 h1 {
  position: relative;
  width: 185px;
  height: 30px;
  left: 10px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 0px;
  justify-content: center;
  color: rgb(102, 102, 102);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}

.order4 h2 {
  color: rgb(102, 102, 102);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: center;
}

.order4 p {
  position: relative;
  width: 185px;
  height: 30px;
  left: 10px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(102, 102, 102);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
}

.order4 .line3 {
  position: relative;
  width: 33px;
  height: 0px;
  left: 710px;
  top: -240px;
  border-radius: 30px;
  border: 4px solid rgb(192, 39, 45);
}

footer {
  position: relative;
  width: 1442px;
  height: 115px;
  left: -3px;
  top: -40px;
  background: rgb(36, 83, 134);
}

.social_media {
  position: relative;
  width: 117.19px;
  height: 32.19px;
  left: 144px;
  top: 40px;
}

.text_footer {
  position: relative;
  width: 910px;
  height: 64px;
  left: 420px;
  top: -15px;
}

.text_footer h1 {
  position: relative;
  width: 293px;
  height: 31px;
  left: 304px;
  top: -105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

.text_footer p {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.date-header {
  position: relative;
  width: 187px;
  height: 30px;
  left: -20px;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.direction-header {
  position: relative;
  width: 393px;
  height: 30px;
  left: -40px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.status-header {
  position: relative;
  width: 290px;
  height: 30px;
  left: -60px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order1-time {
  position: relative;
  width: 185px;
  height: 30px;
  left: 10px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order1-from {
  position: relative;
  width: 187px;
  height: 30px;
  left: 210px;
  top: -105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order1-to {
  position: relative;
  width: 186px;
  height: 30px;
  left: 450px;
  top: -195px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order1-status {
  position: relative;
  width: 304px;
  height: 30px;
  left: 600px;
  top: -315px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.order2-date {
  position: relative;
  width: 185px;
  height: 30px;
  left: 10px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order2-time {
  position: relative;
  width: 185px;
  height: 30px;
  left: 10px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order2-from {
  position: relative;
  width: 187px;
  height: 30px;
  left: 210px;
  top: -105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order2-to {
  position: relative;
  width: 186px;
  height: 30px;
  left: 445px;
  top: -195px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order2-status {
  position: relative;
  width: 304px;
  height: 30px;
  left: 635px;
  top: -285px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.time-submission {
  position: relative;
  width: 225px;
  height: 30px;
  left: -9px;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.location-submission {
  position: relative;
  width: 393px;
  height: 30px;
  left: -45px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.info {
  position: relative;
  width: 290px;
  height: 30px;
  left: -100px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.expanded-date {
  position: relative;
  width: 187px;
  height: 40px;
  left: 55px;
  top: -250px;
}

.expanded-location {
  position: relative;
  width: 240px;
  height: 90px;
  left: 320px;
  top: -370px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(36, 83, 134);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}

.expanded-info {
  position: relative;
  width: 290px;
  height: 170px;
  left: 653px;
  top: -510px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(36, 83, 134);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

.order3-from {
  position: relative;
  width: 187px;
  height: 30px;
  left: 200px;
  top: -105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order3-to {
  position: relative;
  width: 186px;
  height: 30px;
  left: 445px;
  top: -195px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order3-status {
  position: relative;
  width: 304px;
  height: 30px;
  left: 600px;
  top: -315px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.order4-from {
  position: relative;
  width: 187px;
  height: 30px;
  left: 200px;
  top: -95px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order4-to {
  position: relative;
  width: 186px;
  height: 30px;
  left: 445px;
  top: -185px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order4-status {
  position: relative;
  width: 304px;
  height: 30px;
  left: 635px;
  top: -275px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.footer-text1 {
  position: relative;
  width: 136px;
  height: 40px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-text2 {
  position: relative;
  width: 186px;
  height: 40px;
  left: 0px;
  top: -30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-text3 {
  position: relative;
  width: 250px;
  height: 55px;
  left: 600px;
  top: -165px;
  display: flex;
  flex-direction: row;
  align-items: center;
}